<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/" class="navbar-brand">MarkIt</a>
    <div class="navbar-links">
      <a routerLink="/bookmarks" routerLinkActive="active">Bookmarks</a>
      <a routerLink="/add-bookmark" routerLinkActive="active">Add Bookmark</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a (click)="logout()">Logout</a>
    </div>
  </div>
</nav>

<div *ngIf="afAuth.authState | async as user; else showLogin">
  <app-bookmark-form></app-bookmark-form>
  <app-bookmark-list></app-bookmark-list>
</div>
<div>
  <ng-template #showLogin>
    <app-auth></app-auth>
  </ng-template>
  <!-- <router-outlet></router-outlet> -->
</div>
