.bookmark-tile {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

.overflowText {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
